
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
.nx
# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/extensions.txt
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db



# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# vs code configuration folder
.vscode
.idea
# Django logs and debug files:
*.log
TODO

# data
data

notes.md

# cache
fsc
# Frontend settings
media
front/webpack-stats.json
backups
debug.log
angular_errors.log
front_debug.log
back_debug.log
/socks
celerybeat-schedule
.venv
.angular

